<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" color="primary">
  <ion-list>
    <ion-menu-toggle auto-hide="false">
      <ion-item routerLink="/home" color="secondary"> <!--routerlink: donde nos mandará-->
        <ion-icon slot="start" name="home" color="success"></ion-icon> <!--slot: donde irá el icono. Start al prinicpio y End al final-->
        <ion-label color="dark" > <b>Home</b></ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="false">
      <ion-item routerLink="/botones" color="secondary">
        <ion-icon slot="start" name="square" color="primary"></ion-icon>
        <ion-label color="dark" > <b>Botones</b></ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="false">
      <ion-item routerLink="/alertas" color="secondary">
        <ion-icon slot="start" name="alert" color="danger"></ion-icon>
        <ion-label color="dark" > <b>Alertas</b></ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="false">
      <ion-item routerLink="/formulario" color="secondary">
        <ion-icon slot="start" name="newspaper-outline" color="warning"></ion-icon>
        <ion-label color="dark"><b>Formulario</b></ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding ion-text-center" color="primary"> 
    <h1>
      <b>HOME</b>
    </h1>
  </ion-content>
</div>

